body, html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    background-color: #fafafa;
}

a{
    color: #336699;
    text-decoration: none;
}

header{
    padding: 0 32px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 72px;
    margin-bottom: 2000px
}

.mobileMenu{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.logo{
    float: left;
    margin: 24px 0;
}

nav{
    float: right
}

nav ul {
    padding: 0;
    margin: 0;
    height: 72px
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 24px;
    position: relative;
}

nav ul li:hover{
    border-top: 1px solid red
}

nav ul li:hover ul.submenu{
    display: block;   
}

nav ul li a {
    line-height: 72px;
    display: block;
}

ul.submenu{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: auto;
    padding: 8px 0;
    top: 64px;
    left: 0;
}

ul.submenu li{
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

ul.submenu li:last-child{
    border-bottom: none;
}

ul.submenu li a{
    line-height: 32px;
    width:60px;
    padding: 0 24px;
}

@media only screen and (max-width: 600px){
    .mobileMenu{
        display: block;
    }
    nav{
        display: block;
    }

    nav ul{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        background-color: #333;
        height: auto;
        z-index: 1; 
        width: 100vw;
        transition:all 0.5s;
    }

    nav ul.open{
        transform: translate(-100vw);
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        color: #ffffff;
        line-height: 48px;
    }

    ul.submenu{
        display: block;
        position: initial;
        background-color: transparent;
        border: none;
    }

    ul.submenu li {
        border-bottom: none;
    }

    nav ul li:hover{
        border-top: none;
    }
}